.container{
  border:2px solid;
}
.workers{
  border-right: 2px solid;
  padding-left: 0;
  padding-right: 0;
}

.nav {
  list-style-type: none;
  margin-top: 50px;

}
.nav li {
  float: left;
  width: 100%;
}
.nav li a{
  color:black
}
.nav li:hover {
  color: lightgray;
  background-color: #e6e6e6;
  left: .1em;
}
.nav li.selected {
  background-color:lightgray;
  color: white;
}
.nav li.selected:hover {
  background-color: lightgray;
  color: white;
}
.nav li.selected:active {
  background-color: lightgray;
  color: white;
}
