<div class="container mt-4">

  <div class="row">
    <div class="workers col-md-2">
      <div class="title col-md-12 text-center mt-3">
        <h2>Workers</h2>
      </div>

      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let worker of workers"
        [class.selected]=" worker.id === selectedWorker"
           (click)="onSelect( worker.id)"
          >
          <a class="nav-link"
           routerLink="/worker-list/{{ worker.id }}"
           > {{worker.name }}</a>
        </li>
      </ul>

    </div>
    <div class="col-md-10">
      <app-worker-item></app-worker-item>
    </div>
  </div>
  <router-outlet></router-outlet>


</div>

